In [5]:
import streamlit as st
import pandas as pd

In [6]:
file_path = 'https://raw.githubusercontent.com/aaubs/ds-master/main/apps/M1-attrition-streamlit/HR-Employee-Attrition-synth.csv'
df = pd.read_csv(file_path)

In [7]:
st.title('HR APP')
df.head()

2024-09-09 10:08:51.294 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-09 10:08:51.296 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,33,No,Travel_Rarely,1816,Sales,24,3,Medical,1,...,3,80,1,10,3,3,10,0,6,1
1,1,24,No,Non-Travel,1244,Sales,15,4,Medical,1,...,1,80,0,4,3,3,0,2,3,0
2,2,41,No,Travel_Frequently,257,Sales,17,4,Medical,1,...,3,80,0,14,4,3,2,0,3,0
3,3,30,No,Travel_Rarely,745,Research & Development,21,4,Life Sciences,1,...,2,80,0,36,3,3,3,0,0,3
4,4,53,No,Travel_Frequently,1974,Research & Development,22,3,Medical,1,...,3,80,1,6,2,3,9,0,0,0

In [8]:
list(df.columns)

['Unnamed: 0',
 'Age',
 'Attrition',
 'BusinessTravel',
 'DailyRate',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EmployeeCount',
 'EmployeeNumber',
 'EnvironmentSatisfaction',
 'Gender',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobRole',
 'JobSatisfaction',
 'MaritalStatus',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'Over18',
 'OverTime',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StandardHours',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager']

In [15]:
df.groupby(['Department','Attrition'])['MonthlyIncome'].mean()

Department              Attrition
Human Resources         No           8212.311828
                        Yes          7557.600000
Research & Development  No           8018.842391
                        Yes          8908.348315
Sales                   No           8028.274311
                        Yes          8401.754545
Name: MonthlyIncome, dtype: float64

In [14]:
st.table(df.groupby(['Department','Attrition'])['MonthlyIncome'].mean())

2024-09-09 10:12:34.375 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-09 10:12:34.378 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-09 10:12:34.378 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()